header, section, footer, aside, nav, article, hgroup{
	display: block;
	color: white;
	background-color: white;
}

body {
	background-color: #0D3C36;
}

a {
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-family: 'Julius Sans One', sans-serif;
}


header {
	text-align: center;
	background-color: white;
	background-align: white;
  	font-family: 'Julius Sans One', sans-serif;
  	margin: 20;
     	padding: 10;

	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#navigation {
	text-align: center;
	background-color: #2A504B;

	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

#navigation li{
	color: white;
	display: inline-block;
	list-style: none;
	padding: 5px;
	background-color: #0D3C36;


	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#navigation li:hover{
	background-color: #2A504B;
}

#navigation ul{
	padding: 0px;
}

#mainSection {
	background-color: #122624;
	width: 78%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 1%;
	font-family: 'PT Sans Narrow', sans-serif;

	-webkit-border-top-left-radius: 50px;
	-webkit-border-top-right-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-topright: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

#mainSection h2 {
	text-align: center;
}


/*Generated Color Scheme
.color-primary-0 { color: #122624 }
.color-primary-1 { color: #2A504B }
.color-primary-2 { color: #1D3B37 }
.color-primary-3 { color: #123430 }
.color-primary-4 { color: #0D3C36 }

.color-secondary-1-0 { color: #1B162A }
.color-secondary-1-1 { color: #3C3258 }
.color-secondary-1-2 { color: #2B2440 }
.color-secondary-1-3 { color: #201739 }
.color-secondary-1-4 { color: #201442 }

.color-secondary-2-0 { color: #3D381D }
.color-secondary-2-1 { color: #807643 }
.color-secondary-2-2 { color: #5E562F }
.color-secondary-2-3 { color: #544B1C }
.color-secondary-2-4 { color: #605415 }

.color-complement-0 { color: #3D2A1D }
.color-complement-1 { color: #805C43 }
.color-complement-2 { color: #5E422F }
.color-complement-3 { color: #54331C }
.color-complement-4 { color: #603415 }
*/
